{% extends 'base.html.twig' %}

{% block title %}Modifier une fiche entreprise{% endblock %}

{% block body %}
    <h1>Modifier une fiche entreprise</h1>
    {{ form_start(form) }}
        {{ form_row(form.dateVisite) }}
        {{ form_row(form.commentaires) }}
        {{ form_row(form.entreprise) }}
        <button type="submit" class="btn btn-warning">Mettre à jour</button>
    {{ form_end(form) }}
    <a href="{{ path('fiche_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
