{% extends 'base.html.twig' %}

{% block title %}Liste des fiches entreprise{% endblock %}

{% block body %}
    <h1>Liste des fiches entreprise</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date de visite</th>
                <th>Entreprise</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for fiche in fiches %}
                <tr>
                    <td>{{ fiche.id }}</td>
                    <td>{{ fiche.dateVisite|date('d/m/Y H:i') }}</td>
                    <td>{{ fiche.entreprise.raisonSociale }}</td>
                    <td>
                        <a href="{{ path('fiche_show', {'id': fiche.id}) }}" class="btn btn-info">Voir</a>
                        <a href="{{ path('fiche_edit', {'id': fiche.id}) }}" class="btn btn-warning">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('fiche_new') }}" class="btn btn-success">Créer une nouvelle fiche</a>
{% endblock %}
